@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Uni Neue";
  src: url("/UniNeueRegular.eot");
  src: local("☺"), url("../fonts/UniNeueRegular.woff") format("woff"), url("../fonts/UniNeueRegular.ttf") format("truetype"), url("../fonts/UniNeueRegular.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue";
  src: url("../fonts/UniNeueBook.eot");
  src: local("☺"), url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.ttf") format("truetype"), url("../fonts/UniNeueBook.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  font-family: "Uni Neue";
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1920px;
}

.headercontainer {
  padding: 25px 0;
  background-color: rgba(30, 33, 40, 0.8);
  z-index: 3;
  position: relative;
}

.header {
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  margin: 0 100px;
  height: 50px;
  z-index: 3;
}

.headerbtn {
  width: 180px;
  height: 50px;
  background-color: #d31218;
  color: white;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  border-radius: 5px;
}

.headerlogo {
  display: flex;
}
.headerlogo_first {
  font-size: 40px;
  line-height: 54px;
  align-items: center;
  letter-spacing: 0.05em;
  width: 128px;
  height: 50px;
  color: #ffffff;
}
.headerlogo_second {
  width: 150px;
  height: 50px;
  font-size: 30px;
  line-height: 41px;
  justify-content: center;
  letter-spacing: 0.05em;
  background-color: #d31218;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.headerphone {
  display: flex;
}

.phone {
  width: 191px;
  height: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  margin: 10px 30px 0 0;
  color: #ffffff;
}

.row {
  display: flex;
}

nav {
  max-width: 100px;
  height: 760px;
  background-color: rgba(30, 33, 40, 0.8);
  z-index: 3;
}

.menu {
  width: 100px;
  height: 100px;
  background-color: #d31218;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(330%);
}

.goods__row_items {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  transform: translate(-100px, -100px);
}

span::after {
  content: url(../img/goods/arrow-long-right.svg);
  position: absolute;
  right: 0px;
  top: -7px;
}

.itemone {
  position: relative;
  flex: 0 1 33.3333333333%;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/productone/backone.png);
  width: 670px;
  height: 480px;
}
.itemone:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/productone/backone.png);
}

.itemonediscription {
  position: absolute;
  width: 185px;
  height: 80px;
  left: 160px;
  bottom: 60px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemonediscription:hover {
  color: #d31218;
}

.itemtwo {
  position: relative;
  flex: 0 1 33.3333333333%;
  width: 580px;
  height: 480px;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/producttwo/backtwo.png);
}
.itemtwo:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/producttwo/backtwo.png);
}

.itemtwodiscription {
  position: absolute;
  width: 276px;
  height: 80px;
  left: 60px;
  bottom: 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemtwodiscription:hover {
  color: #d31218;
}

.itemthree {
  position: relative;
  flex: 0 1 33.3333333333%;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/productthree/backtthree.png);
  width: 670px;
  height: 480px;
}
.itemthree:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/productthree/backtthree.png);
}

.itemthreediscription {
  position: absolute;
  width: 233px;
  height: 80px;
  left: 60px;
  bottom: 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemthreediscription:hover {
  color: #d31218;
}

.itemfour {
  position: relative;
  flex: 0 1 33.3333333333%;
  width: 670px;
  height: 480px;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/productfour/backtfour.png);
}
.itemfour:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/productfour/backtfour.png);
}

.itemfourdiscription {
  position: absolute;
  width: 218px;
  height: 40px;
  left: 160px;
  bottom: 160px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemfourdiscription:hover {
  color: #d31218;
}

.itemfive {
  position: relative;
  flex: 0 1 33.3333333333%;
  width: 580px;
  height: 480px;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/productfive/backtfive.png);
}
.itemfive:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/productfive/backtfive.png);
}

.itemdfiveiscription {
  position: absolute;
  width: 211px;
  height: 80px;
  left: 60px;
  bottom: 160px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemdfiveiscription:hover {
  color: #d31218;
}

.itemsix {
  position: relative;
  flex: 0 1 33.3333333333%;
  width: 670px;
  height: 480px;
  background-image: url(../img/goods/layerthree.svg), url(../img/goods/layertwo.svg), url(../img/goods/productsix/backtsix.png);
}
.itemsix:hover {
  background-image: url(../img/goods/layertwo.svg), url(../img/goods/productsix/backtsix.png);
}

.itemsixdiscription {
  position: absolute;
  width: 318px;
  height: 80px;
  left: 60px;
  bottom: 160px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.itemsixdiscription:hover {
  color: #d31218;
}

aside {
  background-color: rgba(30, 33, 40, 0.8);
  transform: translate(-200px, 0px);
  height: 760px;
}

.aside_container {
  width: 100px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside_line {
  margin: 8px 0 8px 0;
}
.aisde_text {
  margin: 9px 0 0 15px;
  height: 40px;
  width: 178px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.active {
  display: flex;
  color: #ffffff;
  width: 269px;
  height: 60px;
  background-color: rgba(30, 33, 40, 0.8);
  transform: translateX(-85px);
}

.reddot {
  position: absolute;
  top: 22px;
  right: 42px;
}

footer {
  width: 1920px;
  background-color: rgba(30, 33, 40, 0.8);
  height: 100px;
  transform: translateY(-200px);
}